body{
    background-color: teal;
}
.navHeader{
    text-align: center;
    left: 50%;
   
}


/*color: #ff5c5c ;
}*/

.navbar{
    font-family: 'Montserrat', sans-serif;
    
}
nav{
    background-color: #161e67 ;
    text-decoration-color:  #ff5c5c ;
}
.navbar-text{
    color:#ff5c5c ;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff5c5c;
    color: white;
    text-align: center;
  }
 
.carousel img {

    margin: auto;

}