body{
    
    }
.navHeader{
    text-align: center;
    left: 50%;
   
    }

.navbar{
    font-family: 'Montserrat', sans-serif;
   
    }

nav{
    background-color: #161e67;
    }

.navbar a {
    color: red;
}

.container{
    margin-top: 10%;
    margin-bottom: 10%;
    }

.col{
    font-family: 'Montserrat', sans-serif;
}

footer {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff5c5c;
    color: white;
    text-align: center;
  }
 
.carousel img {

    margin: auto;
}

.carousel-control-prev-icon{
    background-color: black;
}

.carousel-control-next-icon{
    background-color: black;
}